* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.first-button {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: .1em;
  color: #0ef;
  text-transform: uppercase;
  border: 2px solid #0ef;
  padding: 10px 30px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}

.button1:hover {
  color: #fff;
  transition-delay: 0s, 1s;
  box-shadow: 
    0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
    0 0 80px #0ef,
    0 0 160px #0ef;
}

.button1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #0ef;
  transform: skewX(35deg);
  transition: 1s;
  z-index: -1;
}

.button1:hover::before {
  width: 100%;
}

.second-button {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  position: relative;
  margin: 0 50px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.button {
  height: 70px;
  width: 220px;
  border-radius: 50px;
}

.outer button, .outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer button {
  background-color: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

.button button {
  height: 60px;
  width: 210px;
  border-radius: 50px;
}

.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}

.button span {
  border-radius: 50px;
}

.outer:hover span {
  filter: blur(7px);
}

.outer {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}